/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin:0;
}

:root {
    --blue-color: #0065FC;
    --main-grey-color: #F2F2F2;
    --light-blue-color: #DEEBFF;
    --light-grey-color: #D9D9D9;
}

.color-main {
    color: var(--blue-color);
}

.color-white {
    color:white;
}

.color-black {
    color:black;
}

h1 {
    font-size: 22px;
    font-weight: 700;
}

h2 {
    font-size: 18px;
    font-weight: 700;
}

h3 {
    font-size: 17px;
    font-weight: 700;  
}

h4 {
    font-size: 16px;
    font-weight: 700;  
    margin-block-start: 0px;
}

h5 {
    font-size: 16px;
    font-weight: 400;  
}

h6 {
    font-size: 14px;
    font-weight: 400;     
}

a {
    color: inherit;
    text-decoration: none;
}

/* all remains centered horizontally even if width > 1440px */
body {
    display: flex;
    justify-content: center; 
}

.body-container {
    width: 100%;
    max-width: 1440px; /* nothing happens if width is superior*/
    padding: 0 50px; 
    box-sizing: border-box; /* borders and paddings are included in the box */   
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    margin-bottom: 35px;
}



header {
    display: flex;
    justify-content: space-between;
    height: 79px;
    margin-bottom: 30px;
}

.logo-booki {
    height: 19px;
    padding: 30px 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 51px;
    width: 244px;
}

nav a{
    padding: 16px 0px;
    border-top: 2px solid transparent;
    /*border-bottom: 2px solid transparent;*/
}

.nav-title:hover {
    border-color: var(--blue-color);
    color: var(--blue-color);
}


.info{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
/*    margin-bottom: 35px;   6324*/
}

.headline {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

/* search-bar begin */

.search-bar {
    display: flex;
    height: 49px;
    width: 375px;
    margin: 0;
    border-radius: 15px;
}

.search-left {
    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--main-grey-color);
    width: 50px;
    border-radius: 15px 0px 0px 15px;
    background-color: var(--main-grey-color);
}

.resize-18 {
     /* resize localization FA icon to height 18px */
    font-size: 1.125rem;
}

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--main-grey-color);
    border-bottom: 1px solid var(--main-grey-color);
}

#city-search-id {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    width: 195px;
    border: 0px; /*default black border is removed */
 }

#city-search-id::placeholder {
/* default */
    color: black;
    opacity: 1; /* mozilla compatibility */
}

.button-search-right {
 /* flex */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */

 /* button */
    cursor: pointer;
    width: 132px;
    margin: 0; 
    border: 1px solid var(--blue-color);
    border-radius: 0px 15px 15px 0px;
    background-color: var(--blue-color);
/* text */
    color:white;
    font-size: 18px;
    font-weight:700;
    /*display:none;  mobile users */
 }
 
.button-search-right-mini {
 /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid var(--main-grey-color);*/
    border-radius: 0px 15px 15px 0px;
 /* button */   
    cursor: pointer;
    width: 49px;
    border: 1px var(--blue-color);
    border-radius: 15px;
    background-color: var(--blue-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: none; /* only for mobile users */
}

/*search-bar end */

.filters {
    display: flex;
    align-items: center;
    column-gap: 15px;
    row-gap: 20px;
}

.filter-buttons{
    display: flex;
    /*align-items: center;*/
    
    gap: 15px;  
}

.button-filter {
  /* button */
  cursor: pointer;
  height: 50px;
  margin: 0; 
  border: 2px solid var(--light-grey-color);
  border-radius: 25px;
  background-color: transparent;
  padding: 4px 19px;

/* text */
  color:black;
  font-size: 18px;
  font-weight:700;
  text-align: left;    
}

.button-filter i {
    margin-right: 10px;
}

.button-filter:hover {
    background-color: var(--light-blue-color);
}

.info-bar {
    display: flex;
    align-items: center;    
    margin: 0;
    height:auto;
}

.info-left {
    width: 24px;
    border: 1px solid var(--light-grey-color);
    border-radius: 12px;
    margin-right: 10px;
    height: 24px;
/* flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 3px 15px 5px rgba(0, 0, 0, 0.1);
    /*filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));*/
}

.card img {
    object-fit: cover;                                                                                                                                                        
}

.card-title {
    font-size: 16px;
}

.card-subtitle {
    font-size: 14px;
}

.euro {
    font-weight: 600;
}

.card-rating{
    font-size: 13.25px; /* size of star */
}

.neutral-star {
    color: var(--main-grey-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
 /*   margin-bottom: 35px; 6324*/
}

.hebergements-and-populaires section {
    background-color: var(--main-grey-color);
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%; /*OK pour avoir la gap de 40 px entre les deux sections*/
    row-gap: 30px;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    width: 100%;
    box-sizing: border-box;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    width: 29%;
    height: 196.25px
}

.hebergements-cards img {
    height: 114px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 5px;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 15px;
    height: 70px;
}

.hebergements-cards .card-title {
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: 700;
}

.hebergements-cards .card-subtitle {
    /*margin-bottom: 5px;*/
    margin: 0;
}

.hebergements-footer {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
    
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.populaires-cards .card {
    display: flex;
}



.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.activities {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;   
}

.activities-cards {
    display: flex;
    gap: 30px;
    width: 100%;
/*    margin-top: 30px; 6324*/
}

.activity-card {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 23%;
    /*height: 439px;*/
}

.activity-card img {
    height: 380px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
    object-fit: cover;                                                                                                                                                    
}                                                                                                                                                     

.activities-text {
    padding: 20px 19px;
}

footer {
    display: flex;
    background-color: var(--main-grey-color);
/*    margin-top: 35px; 6324*//* gap 35px on all media parts */
}

.footer-container{
    display: flex;
    flex-direction: column;
    width: 33%;    
    padding: 20px;
    gap: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media screen and (max-width: 1050px) and (min-width: 1025px){
    .hebergements-cards .card-subtitle {
        font-size: 13px;
    }

   }
@media screen and (min-width: 768px) and (max-width: 1024px) {

    .filters {
        flex-direction: column;
        align-items: normal;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        gap: 30px;
    }

    .populaires {
        width: 100%;
        gap: 20px;
        /*margin-top: 50px;*/
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activity-card img{
        height: 200px;
    }

    footer{
        gap: 30px; /*additional gap on figma for Tablets */
    }
}

/* Small devices (phones, less than 768px) */
@media screen and (min-width: 768px) and (max-width: 836px) {
    .button-filter{
        font-size: 14px;        
    }
}


/* Small devices (phones, less than 768px) */
@media screen and (min-width: 320px) and (max-width: 767.98px) {

    .body-container {
        padding: 0;
    }

    header{
        flex-direction: column;
        height: 115px;
        align-items: center;
    }
  
    .booki {
        padding: 30px 50px;
    }  

    nav {
        width: 100%;
    }
    
    nav a{
        width: 50%;
        padding: 0px;
        border-top: 0px solid transparent;
        text-align: center;
    }
    
    .nav-title:hover {
        border-bottom: 2px solid var(--blue-color);
        border-top: 0px solid transparent;
        
    }

    .info{
        padding: 0px 20px;
    }

    .container-form{
        width: 235px;
    }

    #city-search-id {
        width: 210px;
     }


    .button-search-right {
        display :none;
    }

    .mini-button-container{
        display: flex;
        border-radius: 0px 15px 15px 0px;
        border-top: 1px solid var(--main-grey-color);
        border-bottom: 1px solid var(--main-grey-color);
    }
        
    .button-search-right-mini {
        display: flex; /* only for mobile users */
    }


    .filters {
        flex-direction: column;
        align-items: normal;
    }

    .filter-buttons{
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 20px;
    }

    .button-filter{
        width: 162.5px;
        font-size: 14px;
        
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }
    
    .hebergements-and-populaires section {
        border-radius: 0px;
    }

    .populaires {
        /*background-color: var(--main-grey-color);*/
        width: 100%;
        gap: 15px;

    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
    }

    .populaires-cards .card {
        margin-top: 0px;
    }

    .hebergements{
        width: 100%;
        background-color: transparent !important;
        padding: 20px;
        gap: 15px;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .hebergements-cards .card {
        display: flex;
        flex-direction: column;
        width: 100%;
    }


    .activities-cards {
        flex-direction: column;
        gap: 15px;
    }

    .activity-card{
        width: 100%;
        height: 200px;
    }

    .activity-card img{
        height: 141px;
    }

    footer {
        flex-direction: column;
        width: 100%;
        background-color: var(--main-grey-color);
        padding: 30px;
        gap: 50px;
    }

    .footer-container{
        width: 100%;    
        padding: 0px;
        gap: 15px;
    }
}